root = true

[*.{go,ts,js,vue,json,css,scss,html,md,yml,yaml,toml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = false
