registry=https://registry.npmmirror.com
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=oxfmt
public-hoist-pattern[]=oxlint
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=@vben/*
public-hoist-pattern[]=@vben-core/*
public-hoist-pattern[]=czg
public-hoist-pattern[]=ansis

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
hoist-workspace-packages=true
